body {
    padding: 0px !important;
    font-family: 'Roboto', sans-serif;

}

#menu {
    position: fixed;
    z-index: 999;
    width: 100%;
}

#menu ul li a:hover {
    color: #db0000 !important;
}

#buttonNav a {
    background-color: #db0000;
    color: #ffffff;
}

#buttonNav a:hover {
    background-color: #ffffff;
    color: #db0000;
}

/* background NAVBAR */
.bgNavbar {
    background-color: #000000cc;
    transition: all 0.5s ease;
}

.dropdown-menu {
    background-color: #000000cc;
}

.dropdown-menu li a {
    color: #ffffff;
}

.dropdown-menu li a:hover {
    background-color: #ffffff;
}

#mapaContacto {
    padding: 90px 5rem;
}

#formulario-contacto {
    padding: 160px 0;
    margin-left: 30px;
}

main {
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;

}

.LogoContacto {
    align-items: center;
    margin: 10px 50px;
}
.btn {
    font-family: "Montserrat", sans-serif;
    font-size: large;
    font-weight: 600;
    border: 1px solid;
    padding: 4px;
}

.btn a {
    text-decoration: none;
    color: #000000;
}

.btn:hover {
    background-color: #000000;
    color: #db0000;
}

.btn a:hover {
    color: #db0000;
}