.conteiner {
    background-color: #000000;
}

.one {
    height: 100vh;
    width: 100%;
}

.logo {
    text-align: center;
}

#menu {
    background-color: #000000bb;
    transition: all 0.5s ease;
}

.formBtn button{
    background-color:#db0000;
    color: #ffffff;
}

.formBtn button:hover{
    background-color:#ffffff;
    color: #db0000;
    border: 1px solid #db0000;
}