.conteiner {
    background-color: #000000;
    padding: 15pxs;
    font-family: 'Roboto', sans-serif;
}

.one {
    height: 100vh;
    width: 100%;
}

.decoration {
    text-decoration: none;
}

#menu {
    background-color: #000000bb;
    transition: all 0.5s ease;
}