.footerTeam i{
    color:#db0000;
}

.footerTeam i:hover{
    color: #ffffff;
}

main{
    background-color: #000000;
    color: #ffffff;
}

.imgBanner img{
    width: 100%;
    height: 40em;
    object-fit:cover ;
}