body {
    font-family: 'Roboto', sans-serif;
}
.imgBanner img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#menu {
    background-color: #000000bb;
    transition: all 0.5s ease;
}

.asideIndice .list-group-item {
    background-color: #db0000;
    color: #ffffff;
    border-color: #000000;
}

.asideIndice .list-group-item:hover {
    background-color: #000000;
    color: #db0000;
}

.asideIndice .list-group-item:focus {
    background-color: #000000;
    color: #db0000;
}

.tab-pane p {
    text-align: justify;
}